html, body {
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffceb8;
}

.banner {
    background-color:white;
    border-color: #f5ddff;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    height:inherit;
}

.middle {
    text-align:center;
    width:inherit;

}

.locationInfo {
    width:inherit;
}

.location {
    width:inherit;
}

.weather-temperature, .desc, .windSpeed, .sunriseTime, .sunsetTime, .tillSunrise, .tillSunset, .otherSpeeds {
    font-size:20px;
}

#otherTemps {
    font-size:20px;
}

.resultsList {
    display:none;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    height:100vh;
    overflow-y:auto;
    
}
