html, body {
    width:100%;
    height:100%;
}

body {
    background-color: #ffceb8;
}

.banner {
    background-color:white;
    border-color: #f5ddff;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-bottom: 15px;
}

.middle {
    text-align:center;
    width:inherit;
}

.locationInfo {
    width:inherit;
}

.location {
    width:inherit;
}

.weather-temperature {
    font-size:20px;
}

#otherTemps {
    font-size:20px;
}

.wordTemperature {
    display:none;
}